Debug
Release
H5Tool.sdf
H5Tool.opensdf
ipch
H5Tool/Debug
H5Tool/Release
HTCommons/Debug
HTCommons/Release
HTDLL/Debug
HTDLL/Release
HTConfig/Debug
HTConfig/Release
HTSQLite/Debug
HTSQLite/Release
H5Tool_Installer/Debug
H5Tool_Installer/Release
data
*.exe
*.aps
